body {
  background: #eee; }

.cv-page {
  background: white;
  display: block;
  margin: 0.5cm auto 0.5cm;
  box-shadow: 0 1px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
  max-width: 8.5in;
  box-sizing: border-box;
  padding: 0.5cm; }

.cv-page.resume {
  height: 11in;
  padding-bottom: 0; }

.cv-page > header > h1 {
  margin-top: 0; }

.section-header {
  font-size: 1.3em;
  line-height: 1em;
  color: #00406e;
  border-bottom: solid #00406e 2px;
  padding-left: 0.3em;
  padding-right: 0.3em; }

.cv-page header div {
  vertical-align: bottom; }

.cv-page header div .info {
  display: inline-block;
  color: #00406e;
  vertical-align: bottom;
  margin-bottom: 0;
  margin-left: 1em; }

.cv-page header div .info a {
  color: #00406e !important; }

.cv-page {
  position: relative;
  z-index: 0; }

.cv-page > section {
  margin-top: 0.3em; }

.cv-page header h1 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0; }

.school-seal {
  position: absolute;
  top: 2em;
  right: 2em;
  height: 20em;
  z-index: -1;
  opacity: 0.2; }

.item {
  position: relative;
  margin-top: 0.25em;
  padding-left: 0.3em;
  padding-right: 0.3em; }

.item > .name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  max-width: calc(100% - 10em); }

.item > .date {
  position: absolute;
  right: 0.3em;
  top: 0;
  line-height: 1.5em;
  font-size: 0.8em; }

.item > .notes {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.7em; }

.item > .notes * {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2em; }

.item > .notes > ul > li {
  margin-top: 0; }

.cv-page > section a {
  color: #E6A92F; }

/* Experiences */
.experience-item .experience-company.company, .experience-location.location {
  margin-top: 0;
  display: inline-block;
  font-size: 0.8em;
  line-height: 0.8em;
  font-weight: normal;
  margin-bottom: 0; }

.meta-row {
  line-height: 0.7em; }

.experience-item .experience-company {
  margin-right: 0.5em; }

.publication-item .name {
  font-weight: normal;
  font-size: 0.9em; }

.publication-item .publication-authors {
  font-size: 0.8em;
  margin-bottom: 0; }

.publication-item .publication-authors a {
  color: black; }

.publication-item .publication-authors a.publication-me {
  color: #E6A92F;
  text-decoration: underline; }

.publication-item .publication-venue {
  font-size: 0.7em;
  margin-bottom: 0;
  font-style: italic; }

section p.award-awarded-by {
  font-size: 0.8em;
  margin-bottom: 0; }

.skill .section-header {
  margin-bottom: 0.5em; }

.skill-item {
  margin-top: 0; }

section .skill-item > p {
  font-size: 0.8em;
  margin-bottom: 0; }

span.bold {
  font-weight: bold; }

.toolbar {
  position: absolute;
  right: calc((100vw - 8.5in) / 2 - 11em);
  width: 10em;
  max-width: calc((100vw - 8.5in) / 2 - 2em);
  box-sizing: border-box; }

.toolbar .toolbar-paper {
  padding: 0.5em; }

/* Print Styling */
@page {
  size: letter;
  margin: 0; }

@media print {
  body {
    margin: 0;
    padding: 0; }
  .cv-page {
    border: none;
    box-shadow: none;
    margin: 0;
    width: 8.5in;
    overflow: hidden; }
  .hide-print {
    display: none; }
  .toolbar {
    display: none; }
  .cv-page.resume {
    height: 11in; }
  .toolbar {
    display: none; } }
