body {
    background: #eee;
}
.cv-page {
    background: white;
    display: block;
    margin: 0 auto 0.5cm;
    box-shadow: 0 1px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
    max-width: 21cm;
}

.section-header {
    font-size: 1.5em;
    border-bottom: solid black 2px;
}


/* Print Styling */
@page {
    margin: 0.25in 0.35in
}
@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .cv-page {
        border: none;
        box-shadow: none;
    }
}